<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">
        Menu
    </h1>
</md-toolbar>
<md-content layout-padding>
    <div layout="row">
        <md-button
            ng-click="main.saveAsYaml()" 
            class="md-primary">
                Save As Yaml
        </md-button>
    </div>

    <div layout="row">
        <md-button 
            ng-click="main.closeSidenav()" 
            class="md-primary">
                Close Menu
        </md-button>
    </div>
    
</md-content>